{% extends 'base.html' %}

{% block content %}
  <h2>Загруженные документы</h2>

  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}

  {% if docs %}
    <div style="display: flex; flex-wrap: wrap; gap: 20px;">
      {% for doc in docs %}
        <div style="width: 30%; border: 1px solid #ccc; padding: 10px; text-align: center;">
          <p><strong>ID:</strong> {{ doc.id }}</p>
          <img
            src="{{ doc.file_path.url }}"
            alt="Doc {{ doc.id }}"
            style="max-width:100%; height:auto"
          />

          <p><strong>Размер:</strong> {{ doc.size_file|floatformat:2 }} КБ</p>

          <!-- Форма добавления в корзину -->
          <form
            method="post"
            action="{% url 'docs_app:cart_add' %}"
            style="margin-top: 10px;"
          >
            {% csrf_token %}
            <input
              type="hidden"
              name="doc_id"
              value="{{ doc.id }}"
            >
            <button
              type="submit"
              style="padding: 5px 10px; font-size: 1rem;"
            >
              Добавить в корзину
            </button>
          </form>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Документы не найдены.</p>
  {% endif %}
{% endblock %}